.carousel-inner p{
    padding-left: 20%;
    padding-right: 20%;
}

.about h1{
    font-family: exo;
    font-size: 32px;
}

.about h3, h4{
    font-size: 22px;
}

.about img{
    width: 100px;
    height: 100px;
    background: #333;
    border-radius: 100px;
    border: solid 4px;
    border-color: #a84141;
    overflow: hidden
}

.about p{
    font-size: 18px;
}

.about{
    background-color: #333333;
    padding-top: 10px;
    margin-top: 10%;
}

#profile .headpoint {
    font-size: 35px;
    margin-top: 50px;
    color: #fff;
    line-height: 1.2
}

#quote-carousel {
    padding: 0 10px 30px;
    margin-top: 30px
}

#quote-carousel .carousel-control {
    background: 0 0;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 40px
}

.carousel-indicators {
    padding-top: 50px;
}

/* #quote-carousel .carousel-indicators {
    right: 50%;
    top: 0 auto;
    bottom: 0;
    margin-right: -19px
}

#quote-carousel .carousel-indicators li {
 
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: .4;
    overflow: hidden;
    transition: all .4s
}

#quote-carousel .carousel-indicators .active {
    background: #333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #3281ff;
    opacity: 1;
    overflow: hidden
} */

.carousel-inner {
    min-height: 350px;
    color: #E0E0E0;
    width: 100%;
}

.item blockquote {
    border-left: none;
    margin: 0
}

.carousel-item{
    padding-bottom: 20px;
}

@media screen and (max-width:768px) {
    .headpoint {
        font-size: 36px;
        margin-top: 45%
    }

    #subpoint {
        font-size: 18px;
        letter-spacing: 2px
    }

    .v-thumbnail {
        width: 100%;
        margin: 0 auto;
        box-shadow: 10px 9px 5px 5px #2a3b4c
    }

    .carousel-inner p{
        padding-left: 0;
        padding-right: 0;
    }

    #quote-carousel .carousel-indicators {
        top: 76%
    }

}

@media screen and (max-width:360px) {
    #quote-carousel .carousel-indicators {
        top: 0 auto
    }

}

@media screen and (min-width:1024px) {
    #quote-carousel .carousel-indicators {
        top: 60%
    }
}

@media screen and (min-width:320px) and (max-width:414px) {
    .about h1 {
        margin-top: 50px !important;
        font-size: 30px
    }

}

