.teknologi {
    padding-top: 8%;
    padding-bottom: 3%;
}

.teknologi-h1 {
    padding-left: 20%;
    padding-right: 20%;
    color: white;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    font-family: poppins;
    margin-bottom: 6%;
}

.teknologi .item .contentGaleri {
    text-align: justify;
}

.teknologi .item .contentGaleri p {
    font-size: 18px;
}

.inspirasiGaleri {
    width: 90%;
    text-align: justify;
    max-width: 1000px;
    height: auto;
    margin: auto;
    margin-bottom: 56px;
}

.isiGaleri {
    height: auto;
    display: flex;
    overflow-x: scroll;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.containerGaleriLuar {
    background: white;
    padding: 10px 30px 30px 30px;
    border-radius: 25px;
    margin-bottom: 55px;
    box-shadow: 0 5px 20px rgba(125, 125, 125, 0.2);
}

.columnGaleri {
    padding-right: 6px;
}

.columnGaleri img {
    height: 200px;
    width: auto;
}

.galeriItem {
    width: 100%;
    background: red;
}

.contentGaleri {
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

.contentGaleri hr {
    margin-left: 0;
    border: 0;
    max-width: 100%;
    height: 6px;
    background: rgba(13, 36, 53, 1);
    background: linear-gradient(to left, rgba(13, 36, 53, 1) 0%, rgba(168, 65, 65, 1) 100%);
    border-radius: 50px;
}

.contentGaleri-h5 {
    font-size: 30px;
    line-height: 1;
    font-family: gotham;
}

@media only screen and (max-width: 960px) {
    .inspirasiGaleri {
        width: 98%;
        text-align: center;
        max-width: 1011px;
        height: auto;
        margin: auto;
        margin-bottom: 56px;
    }
}

@media screen and (min-width:320px) and (max-width:414px) {
    .teknologi h1 {
        font-size: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .contentGaleri-h5 {
        font-size: 25px;
    }

    .contentGaleri p{
        font-size: 15px;
    }
}