.youtube-wrapper {
    display: inline-block;
    width: 210px;
    box-sizing: border-box;
    margin-right: 12px;
    margin-left: 20px;
}

.img-thumb {
    width: 100%;
    height: 118px;
    overflow: hidden;
    position: relative;
}

.img-thumb img {
    width: 100%;
}

p.time {
    position: absolute;
    color: white;
    bottom: 6px;
    right: 6px;
    margin: 0;
    background: black;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
}

p.title {
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0px;
    margin-top: 10px;
    color: #2d2d2d;
}