html,
body {
    overflow-x: hidden;
    font-family: poppins;
    background-color: #141414;
}

button:focus {outline:0;}
            
::-webkit-scrollbar {
    width: 10px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #a84141;
    transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
    background: #a06060;
    transition: 0.5s;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.title {
    font-size: 34px;
    font-weight: 400;
    font-family: porter;
    color: #a84141 !important;
}

.title:hover {
    text-decoration: none;
}

.orange {
    background-color: #a84141;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 3.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.bg1 {
    background-image: url(../images/background/bromo2.jpg);
    min-height: 100vh;
    animation-name: animasiBg;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}

.box-shadow {
    box-shadow: 0 5px 20px rgba(125, 125, 125, 0.2);
}

@keyframes animasiBg {
    0% {
        background-size: 120%;
    }
    50% {
        background-size: 100%;
    }
    100% {
        background-size: 120%;
    }
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: animasiBg;
}

.parallax-caption {
    margin-top: 20%;
    padding-bottom: 8px;
    z-index: 10;
}

.parallax-caption p {
    padding: 5px;
    font-size: 40px;
    margin-bottom: 40px;
    line-height: 1.5;
    font-family: porter;
    color: white;
    margin: 0;
}

.parallax-caption h5 {
    margin-bottom: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: white;
    z-index: 10;
}

.menu {
    color: white !important;
}

.scrollicon {
    color: white;
    margin-top: 20px !important;
    font-size: 60px;
    position: relative;
    animation: mymove 2s infinite;
}

.scrollicon:hover {
    color: white !important
}

@keyframes mymove {
    0% {
        top: 0px;
    }
    25% {
        top: 20px;
    }
    50% {
        top: 10px;
    }
    75% {
        top: 20px
    }
    100% {
        top: 0px;
    }
}

.wrapper {
    min-height: 400px;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.wrappermain {
    min-height: 400px;
    width: 100%;
    margin-top: 120px;
    padding-top: 2%;
    padding-bottom: 3%;
}

.wrappersejarah {
    min-height: 400px;
    width: 100%;
    padding-bottom: 3%;
}

.mymove {
    animation: mymove 2s infinite;
    position: relative;
    width: 600px;
    margin-top: -10px !important;
}

/* bg image for content tanda tanda  */

.tandabg1 {
    background-image: url(../images/background/aman.jpg);
    background-size: cover;
    height: 54vh;
}

.tandabg2 {
    background-image: url(../images/background/waspada.jpg);
    background-size: cover;
    height: 54vh;
}

.tandabg3 {
    background-image: url(../images/background/siaga.jpg);
    background-size: cover;
    height: 54vh;
}

.tandabg4 {
    background-image: url(../images/background/awas.jpg);
    background-size: cover;
    height: 54vh;
}

@media screen and (min-width: 995px) and (max-width: 1024px) {
    .bg1 {
        animation-name: none;
        min-height: 50vh;
    }

    .overlay{
        min-height: 50vh; 
    }

    .tandabg1 {
        height: 30vh;
    }
    
    .tandabg2 {
        height: 30vh;
    }
    
    .tandabg3 {
        height: 30vh;
    }
    
    .tandabg4 {
        height: 30vh;
    }

}

@media screen and (min-width: 766px) and (max-width: 992px) {
    .bg1 {
        animation-name: none;
        min-height: 80vh;
    }

    .overlay{
        min-height: 80vh; 
    }

    .h1-tanda {
        font-size: 24px;
        margin-top: 20px !important;
    }
    .slicer {
        display: none;
    }
    .img-tanda {
        position: relative !important;
    }
    .content-tanda,
    .content-tanda2,
    .content-tanda3,
    .content-tanda4 {
        text-align: justify !important;
    }
    .hr-red,
    .hr-red2,
    .hr-red3,
    .hr-red4 {
        width: 100%;
    }
    .contentGaleri-h5 {
        font-size: 24px;
    }
    .parallax-caption{
        margin-top: 30% !important;
    }
    .navbar{
        background-color: rgb(36, 36, 36);
      }
      .navbrand2 {
       display: none!important;
      }
      .navbrand1{
        display: none;
      }
      .navbrand3{
        display: block;
        opacity: 1 !important;
      }

      .tandabg1 {
        height: 45vh;
    }
    
    .tandabg2 {
        height: 45vh;
    }
    
    .tandabg3 {
        height: 45vh;
    }
    
    .tandabg4 {
        height: 45vh;
    }

    .tandabg-light{
        width: 90%!important;
    }
}

@media (max-width: 768px) {
    .overlay{
        min-height: 60vh;
    }

    .bg1 {
        animation-name: none;
        min-height: 60vh;
    }
    .caption-tanda p {
        font-size: 18px;
    }
    .h1-tanda {
        font-size: 20px;
        margin-top: 20px !important;
    }
    .slicer {
        display: none;
    }
    .img-tanda {
        position: relative !important;
    }
    .content-tanda,
    .content-tanda2,
    .content-tanda3,
    .content-tanda4 {
        text-align: justify !important;
    }
    .hr-red,
    .hr-red2,
    .hr-red3,
    .hr-red4 {
        width: 100%;
    }
    .parallax-caption{
        margin-top: 30% !important;
    }
    .navbar{
        background-color: rgb(36, 36, 36);
      }
      .navbrand2 {
       display: none!important;
      }
      .navbrand1{
        display: none;
      }
      .navbrand3{
        display: block;
        opacity: 1 !important;
      }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
    .bg1{
        min-height: 100vh;
    }

    .overlay{
        min-height: 100vh;
    }
}

@media screen and (min-width: 320px) and (max-width: 414px) {
    .bg1{
        min-height: 100vh;
    }

    .overlay{
        min-height: 100vh;
    }
}

@media (max-width: 600px) {
    .bg1 {
        animation-name: none;
    }
    .navbar {
        padding-right: 10px;
        padding-left: 10px;
    }
    .nav-bar {
        padding-top: 52px;
        padding-left: 29px;
        width: 100%;
        position: fixed;
        background: white;
        height: 100vh;
    }
    .caption-tanda p {
        font-size: 10px;
    }
    .h1-tanda {
        font-size: 18px;
        margin-top: 20px !important;
    }
    .slicer {
        display: none;
    }
    .img-tanda {
        position: relative !important;
    }
    .content-tanda,
    .content-tanda2,
    .content-tanda3,
    .content-tanda4 {
        text-align: justify !important;
    }
    .hr-red,
    .hr-red2,
    .hr-red3,
    .hr-red4 {
        width: 100%;
    }
    .teknologi-h1{
        font-size: 28px;
        text-align: justify !important;
    }
    .nav-bar {
        width: 100% !important;
    }
    .h1-tanda{
        font-size: 28px;
    }
    .caption-tanda p {
        font-size: 16px;
    }
    .caption-tanda{
        text-align: justify;
    }
    .content-tanda,.content-tanda2,.content-tanda3,.content-tanda4{
        padding: 1.5rem;
    }
    .tandabg2{
        margin-bottom: 30px;
    }
    .parallax-caption{
        margin-top: 50% !important;
    }
    .parallax-caption p{
        font-size: 32px;
    }
    .parallax-caption h5{
        font-size: 18px !important;
        margin-left: 15px;
        margin-right: 15px
    }
    .navbar{
        background-color: rgb(36, 36, 36);
      }
      .navbrand2 {
       display: none!important;
      }
      .navbrand1{
        display: none;
      }
      .navbrand3{
        display: block;
        opacity: 1 !important;
      }
}

