@media screen and (min-width:320px) and (max-width:480px) {
  .fontred{
    text-align: center!important;
    font-size: 18px!important;
  }
  
  .nav-bar p{
    text-align: center!important;
    font-size: 18px!important;
  }
  
  .navbar {
    padding-right: 20px!important;
    padding-left: 20px!important;
  }

  .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before{
    background-color: #A84142!important;
  }

  .hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  background: #A84142!important;
}

}

@media screen and (min-width:360px) and (max-width:480px) and (min-height:640px) {
  .fontred{
    font-size: 20px!important;
  }

  .nav-bar p{
    font-size: 20px!important;
  }

  .navbrand2 {
    margin-top: 40px;
  }

}

.nav-bar {
  z-index: 999;
}
.navbar{
  opacity: 0;
  transition: 0.5s all;
}
.navbrand1 {
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
}
.navbrand3 {
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
  opacity: 0;
}
.navbrand2 {
  text-align: center;
  margin-left: 10px;
  margin-bottom: -50px;
}
.slashwhite {
  width:100%;
  height: 100px;
 top:-5%;
  left:-5%;
  z-index: 99;
  transform:rotate(2deg);
}
.bgblue {
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #7c7c7c;
  position: fixed;
  display: none;
  transition: all 0.3s;
}
.fontred{
  color: #c21c1c !important;
  font-weight: bolder;
  font-family: poppins;
  font-size: 22px;
  
}
.fontred:hover{
  color: #690d0d !important;
  z-index: 0;
  
}
.nav-bar {
padding-top: 52px;
padding-left: 30px;
padding-right: 30px;
width: 35%;
z-index: 999;
position: fixed;
background: white;
right: -700px;
height: 100vh;
transition: right 0.3s;
}

.nav-bar-hide {
  right: 0;
  transition: right 0.3s;
}

.navbar {
  padding-right: 40px;
  padding-left: 40px;
}

.bgblue-show {
  z-index: 99;
  display: block;
  transition: all 0.3s;
  opacity: 0.8;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background: white;
  /* background: #8a1d1d !important; */
}


.hamburger--spring.is-active .hamburger-inner {
  transition-delay: .22s;
  background-color: transparent !important;
}

.owl-carousel {
  min-height: inherit;
}

.content-main-1 {
  position: absolute;
  bottom: 20%;
  margin: 56px;
  width: 700px;
  color: white;
  text-align: left;
}

.content-main-1 h1 {
  font-size: 14vh;
  font-weight: 800;
  margin-bottom: 52px;
}

/*------------------------------------------------------------------
[ Responsive ]*/

